<div class="container">
    <button id="top-btn">+ Lägg till</button>

<div class="container">
    <table class="table table-bordered" id="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Address</th>
                <th>Zip</th>
                <th>City</th>
                <th>Email</th>
                <th>Phone nr</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of posts">
                <td>{{post.ID}}</td>
                <td>{{post.Firstname}}</td>
                <td>{{post.LastName}}</td>
                <td>{{post.Adress}}</td>
                <td>{{post.Zip}}</td>
                <td>{{post.City}}</td>
                <td>{{post.Email}}</td>
                <td>{{post.PhoneNumber}}</td>

                <td>
                    <button>Ändra</button>
                    <button>Ta bort</button>
                </td>
                
            </tr>
        </tbody>
    </table>
</div>